/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Lobster&family=Open+Sans:wght@500&family=Poppins&display=swap");
/* common style */
body {
  font-family: "Poppins", sans-serif;
}
/*
*********************** 
header styles and rules
***********************
*/
.parent_heading {
  display: flex;
  background-color: #161616;
  border-radius: 30px;
  margin: auto;
  width: 80%;
  margin-top: 40px;
}
.header_info {
  width: 450px;
  margin-left: 20px;
  padding-left: 40px;
  padding-top: 20px;
}
#heading_font {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 1;
}
#heading_paragraph {
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 10px;
}
.header_img {
  width: 400px;
  padding-top: 30px;
  margin-right: 20px;
}
header_info,
a,
i {
  width: 30px;
  padding: 15px;
  color: white;
  background-color: #dd0000;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
}
.fa-solid {
  padding: 0;
  font-size: 18px;
}
